/** FONT **/
@import "../../styles/font.css";
.line {
  margin: 20px auto;
  width: 40px;
  height: 1px;
  background-color: var(--color-gray-3);
}

.img-background {
  color: #4e4e4e;
}

.card {
  border-color: transparent;
  color: var(--color-gray-3);
}
