<div class="container-fluid bg-white py-5" id="about-me">
    <!-- ABOUT ME -->
    <div class="row p-4">
        <div class="col p-4 w-100 h-100 d-flex justify-content-center align-items-center flex-wrap">
            <div>
                <p class="about-text">ABOUT ME</p>
                <hr class="line">
                <p class="description-text">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat hic ducimus nam?
                    Blanditiis, accusamus praesentium.
                </p>
            </div>
        </div>
    </div>
    <!-- SERVICES -->
    <div class="row p-4">
        <div class="col-6-offset-1 pt-2 pb-2 col-sm-4 ">
            <div class="d-flex justify-content-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#4e4e4e" class="bi bi-laptop"
                    viewBox="0 0 16 16">
                    <path
                        d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                </svg>
            </div>
            <h6 class="mt-4 service-text">DESIGN + DEVELOPMENT</h6>
            <p class="description-service-text">Clean, morden designs - optimized for performance and converting users
                to customers.
            </p>
        </div>
        <div class="col-6-offset-1 pt-2 pb-2 col-sm-4 ">
            <div class=" d-flex justify-content-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#4e4e4e"
                    class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path
                        d="M5.854 4.854a.5.5 0 1 0-.708-.708l-3.5 3.5a.5.5 0 0 0 0 .708l3.5 3.5a.5.5 0 0 0 .708-.708L2.707 8l3.147-3.146zm4.292 0a.5.5 0 0 1 .708-.708l3.5 3.5a.5.5 0 0 1 0 .708l-3.5 3.5a.5.5 0 0 1-.708-.708L13.293 8l-3.147-3.146z" />
                </svg>
            </div>
            <h6 class="mt-4 service-text">TECHNOLOGY</h6>
            <p class="description-service-text">Combined all the lastest technologies to a progressive website.</p>
        </div>
        <div class="col-6-offset-1 pt-2 pb-2 col-sm-4 ">
            <div class=" d-flex justify-content-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#4e4e4e" class="bi bi-phone"
                    viewBox="0 0 16 16">
                    <path
                        d="M11 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h6zM5 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H5z" />
                    <path d="M8 14a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                </svg>
            </div>
            <h6 class="mt-4 service-text">RESPONSIVE</h6>
            <p class="description-service-text">A responsive design makes your website accessible to all users,
                regardless of their
                device</p>
        </div>
    </div>
</div>